
<div class="container">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>

    <div class="d-flex p-2">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
      <%# <button type="button" class="btn btn-secondary btn-lg btn-block" href="/instruments/new">Louer le votre !</button> %>
    </div>


  <% end %>

  <div>
    <h1 class="text-center">Welcome to instrumento</h1>
  </div>
 <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">List of instruments</h3>
    <%= link_to "Proposez le votre", new_instrument_path, class: "btn btn-primary" %>
  </div>

<div class="container welcome-page">
    <div class="row">
      <% @instruments.each do |instrument| %>
        <div class="col-lg-4 mb-4">
            <div class="card p-0">
            <%= link_to instrument_path(instrument), class:"text-decoration-none" do %>
                <div class="card-image">
                <% if instrument.photo.attached? %>
                  <%= cl_image_tag instrument.photo.key ,width: 400, height: 350, crop: :fill %>
                <% else %>
                  <%= image_tag 'piano.jpg', width: 400, height: 350, crop: :fill %>
                <% end %>
                  <img src="https://images.pexels.com/photos/2746187/pexels-photo-2746187.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2"><%= instrument.name %></h4>
                    <h5><%= instrument.price %></h5>

                </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>
