
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profil", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>


<div class="text-center"><h1>Superstar_<%= %> ♩ ♪ ♫ ♬ ♭ ♮</h1></div>


<div class="container py-5">

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Nom de mon instrument</h5>
    <p class="card-text">Guitar collector Gibson SX50, utilisée avec un ampli GTX50, on dirait qu'aucun son n'est impossible à produire avec cette guitare. Elle est belle, la touche est agréable et les micros sont bons.</p>
    <p class="card-text"><small class="text-muted">Postée par ----</small></p>
  </div>
</div>

  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Réserve ton instrument</h3>
        <%= simple_form_for @instrument do |f| %>
          <%= f.input :start_date, placeholder: 'Date de début' %>
          <%= f.input :end_date, placeholder: 'Date de fin' %>
          <%# <%= f.input :city, placeholder: 'Ville' %>
          <%= f.submit "Je choisis cet instrument", class: 'btn btn-primary' %>
        <% end %>
      </div>
      <%= link_to "⏎ Retourner aux instruments", root_path %>
    </div>
  </div>
</div>
