<!DOCTYPE html>
<html>
  <head>
    <title>Instrumento</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
 <%= cl_image_tag("https://res.cloudinary.com/dpddszglb/image/upload/v1648559899/cld-sample.jpg",
      width: 400, height: 300, crop: :fill) %>
  <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
